body {
	background-color: rgb(75,172,198);
	font-family: arial;
	color: rgb(207,227,232);
}

#login {
	font-size: 12px;
	clear: both;
	border-bottom: solid;
	border-bottom-color: black;
	border-bottom-width: 2px;
}

#content {
	margin: 100px 200px;
}

#profile {
	float: right;
	width: 400px;
	height: 400px;
	transform: rotate(10deg);
	margin-bottom: 40px;
}

#info {
	font-size: 20px;
}

#favorites {
	clear: both;
	font-size: 25px;
}

#favorites table, td, th {
	border: solid;
	border-width: 2px;
	padding: 10px;
}

#footer {
	clear: both;
	font-size: 20px;
	color: black;
	padding-left: 40%;
	border-top: solid;
	border-top-color: black;
	border-top-width: 2px;
	
}

a:link {
	color: rgb(255, 0, 0);
	text-decoration: none;
}

a:active {
	color: rgb(255, 128, 0);
	text-decoration: none;
}

a:hover {
	color: rgb(255, 128, 0);
	text-decoration: none;
}

a:visited {
	color: rgb(255, 0, 0);
	text-decoration: none;
}

h1 {
	font-size: 40px;
	text-decoration: underline;
}

input[type=text], input[type=password] {
	width: 100px;
	margin: 0 10px;
	border-color: black;
}

input[type=submit] {
	width: 80px;
	margin: 0 10px;
	background-color: rgb(79,129,189);
	color: rgb(207,227,232);
	border-style: solid;
	border-color: rgb(207,227,232);
	border-width: 3px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px 1px #999;
}